<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testURL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A57EE6D1B592E0500A6C2F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A57EE811B592E0500A6C2F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A57EE8C1B592E0500A6C2F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
