<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testAdvanceUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AB230D41B49503D0034F293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AB230E81B49503D0034F293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AB230F31B49503D0034F293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
